<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

<p><%= notice %></p>

<h1>一覧</h1>

<% @pics.each do |pic| %>
  <div class="row">

  <P><%= profile_img(pic.user) %> <%= pic.user.name %> <%= pic.title %></p>
  <p><%= image_tag pic.image.to_s %></p>
  <p>コメント:<%= pic.content %></p>
  <%= link_to "編集する", edit_pic_path(pic.id) %>
  <%= link_to '削除する', pic_path(pic.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
  </div>
<% end %>

<%= link_to "新しい投稿をする", new_pic_path %>
  </div>
</div>