<p><%= notice %></p>

<h1>ブログ一覧</h1>

<% @pics.each do |pic| %>
  <p>タイトル:<%= pic.title %></p>
  <p>本文:<%= pic.content %></p>
  <%= link_to "ブログを編集する", edit_pic_path(pic.id) %>
  <%= link_to 'ブログを削除する', pic_path(pic.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
<% end %>

<%= link_to "ブログを作成する", new_pic_path %>
